<%= form_for @tool do |t|  %>

<% if @tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tool.errors.count, "error") %> <%= t('.error') %> </h2>

      <ul>
      <% @tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="custom-file">
  <%=t.label t('.photo'), class:"custom-file-label"%>
  <%=t.file_field :photo, class:"custom-file-input"%>
</div>

<div class="form-group" >
  <%=t.label t('.name')%>
  <%=t.text_field :name, class:"form-control"%>
  <div class="invalid-feedback">Devi inserire un nome, come si chiama questo strumento? Arduino? RaspberryPie?</div>
</div>

<div class="form-group">
  <%=t.label t('.description')%>
  <%=t.text_area :description, class:"form-control"%>
  <div class="invalid-feedback">Devi inserire una descrizione, che cosa fa questo oggetto?</div>
</div>

<div class="form-group">
  <%=t.label t('.days')%>
  <%=t.text_field :days, class:"form-control"%>
  <div class="invalid-feedback">Devi inserire un numero di giorni standard per questo strumento</div>
</div>

<div class="form-group">
  <%=t.label t('.quantity')%>
  <%=t.text_field :quantity, class:"form-control"%>
  <div class="invalid-feedback">Quanti ce ne sono disponibili adesso? Devi dirlo!</div>
</div>



<%= t.submit class:"btn btn-primary btn-block"%>

<% end %>
