
<div class="card-group">
 <% @tools.each do |tool| %>

<% if tool.name.present? %>
    <div class="card">
          <%=image_tag(tool.photo, :width => 286, :height => 180, :alt => tool.name, class:"card-img-top")%>
          <div class="card-body">
          <h5 class="card-title"><%= tool.name %></h5>
          <p class="card-text"> <%= tool.description %> </p>
          <p class="card-text"><small class="text-muted">
            <%= t('.quantity')%> <span class="badge badge-secondary"> <%= tool.quantity %> </span>
          </small></p>
            <% if tool.quantity != 0 %>
            <%= link_to t('.book'), new_tool_tempbook_path(tool), class:"btn btn-custom btn-sm" %>
            <% else %>
              <%= link_to t('.book'), new_tool_tempbook_path(tool), class:"btn btn-custom btn-sm disabled" %>
              <% end %>
          </div>
           </div>


<% end %>
<% end %>
</div>

<div class="text-center">
<%= paginate @tools %>
 </div>
