<h2 class="text-center">Sign up <%= t('devise.registrations.new.technical') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class:"form-signin"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label t('devise.registrations.new.name') %> <br />
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label t('devise.registrations.new.surname') %><br />
    <%= f.text_field :surname, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> <%= t('devise.registrations.edit.characters') %>)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label  t('devise.registrations.edit.confirm') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.check_box :agree %>
    <%= t('devise.registrations.new.agree') %> <%= link_to t('devise.registrations.new.privacy'),  privacy_path %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-success btn-lg btn-block" %>
  </div>
<% end %>

<%= render "technicals/shared/links" %>
