<h2 class="text-center">Log in <%= resource_name %> </h2>

<div class="text-center" max-width="330px">
  <%= link_to prof_google_oauth2_omniauth_authorize_path, class:"btn btn-sm btn-light" do %>
   <span class="fa fa-google"></span> <%= t('devise.registrations.new.google') %>
   <% end %>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class:"form-signin"}) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label t('devise.sessions.new.remember') %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-primary btn-block" %>
  </div>
<% end %>



<%= render "profs/shared/links" %>
