
<h1 class="text-center"> <%= t('.infoprivacy') %> </h1>
<hr>
<ol type="A">
  <b> <li> <%= t('.whoweare') %> </li> </b>
  <p> <%= t('.whofirst') %> </p>

  <b> <li> <%= t('.whomanagedata') %> </li> </b>
  <p> <%= t('.managefirst') %> </p>
  <p> <%= t('.managesecond') %> </p>

  <b> <li> <%= t('.contact') %> </li> </b>
  <p> <%= t('.contactfirst') %> <%= mail_to 'inventario.itis@gmail.com' %> </p>

  <b> <li> <%= t('.finality') %> </li> </b>
  <p> <%= t('.finalityfirst') %> </p>
  <p> <%= t('.finalitysecond') %> </p>
  <p> <%= t('.finalitythird') %> </p>
  <p> <%= t('.finalityfourth') %> </p>

  <b> <li> <%= t('.time') %> </li> </b>
  <p> <%= t('.timefirst') %> </p>

  <b> <li> <%= t('.revoke') %> </li> </b>
  <p> <%= t('.revokefirst') %> </p>
  <p> <%= t('.revokesecond') %> </p>

  <b> <li> <%= t('.where') %> </li> </b>
  <p> <%= t('.wherefirst') %> </p>

</ol>
