
<% @labs.each do |lab| %>
<% if lab.subject.present? %>
<div class="card">
  <div class="card-header">
    <%= lab.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= lab.subject %></h5>
    <p class="card-text"> <%= t('.labtools') %> <span class="badge badge-primary badge-pill"> <%= lab.tools.size %> </span> </p>
    <%= link_to t('.show'), admin_lab_path(lab), class:"btn btn-primary" %>
    <%= link_to t('.edit'), edit_admin_lab_path(lab), class:"btn btn-warning" %>
    <%= link_to t('.language'), admin_choose_lab_route_path(lab), class:"btn btn-secondary" %>
    <%= link_to fa_icon('trash'), admin_lab_path(lab), method: :delete, data: {confirm: t('.confirm')}, class:"btn btn-danger" %>
  </div>
</div>
<% end %>
<% end %>

<hr>
<div class="paginate-container">
<%= paginate @labs %>
</div>
<hr>
<%= link_to t('.new'), new_admin_lab_path, class:"btn btn-primary btn-block" %>
