<h1> <%= t('admin.shared.menu.labs') %> </h1>
<hr>
<div class="row">
<% @labs.each do |lab| %>

<div class="col-lg-3 col-sm-4 portfolio-item">
  <div class="card h-100">
  <div class="card-header">
    <%= lab.name %> <%= link_to fa_icon('eye'), admin_lab_path(lab), class:"btn btn-primary" %>
    <%= link_to fa_icon('pencil'), edit_admin_lab_path(lab), class:"btn btn-warning " %>
    <%= link_to fa_icon('trash'), admin_lab_path(lab), method: :delete, data: {confirm: t('.confirm')}, class:"btn btn-danger" %>
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= lab.subject %></h5>
    <p class="card-text"> <%= t('.labtools') %> <span class="badge badge-primary badge-pill"> <%= lab.tools.size %> </span> </p>




        <%= link_to fa_icon('wrench') + " " + fa_icon('plus'), admin_assign_lab_route_path(lab), class:"btn btn-success", toggle:"tooltip", placement:"top", title: t('.assign')%>

        <%= link_to fa_icon('users') + " " + fa_icon('plus'), new_admin_lab_lab_technical_path(lab), class:"btn btn-info", toggle:"tooltip", placement:"top", title: "Assign technical" %>


  </div>
</div>
</div>
<% end %>
</div>

<hr>
<div class="paginate-container">
<%= paginate @labs %>
</div>
<hr>
<%= link_to t('.new'), new_admin_lab_path, class:"btn btn-primary btn-block" %>
