<h1> Tools </h1>
<hr>
<% @labs.each do |relation| %>
<h3> <%= fa_icon('flask') + " " + relation.lab.name %> </h3>
<hr>
<div class="row">
<% relation.lab.tools.each do |tool| %>

  <% if tool.name.present? %>

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">

        <% if tool.photo.standard.present? %>
          <%= link_to image_tag(tool.photo.standard, :alt => "toolphoto.jpeg", class:"card-img-top"), admin_tool_path(tool)%>
        <% else %>
          <%= link_to image_tag("standard_toolphoto.jpeg", :alt => "toolphoto.jpeg", class:"card-img-top"), admin_tool_path(tool)%>
        <% end %>

          <div class="card-body">
            <h4 class="card-title">
              <%= tool.name %>
            </h4>
            <p class="card-text text-truncate">
              <%= tool.description %>
            </p>
            <%= link_to fa_icon('exclamation-triangle'), new_technical_tool_lab_reporting_path(tool, relation.lab), class:"btn btn-outline-warning btn-block" %>

          </div>
          <ul class="list-group list-group-flush">

              <%= link_to fa_icon('eye') + " " + t('tools.index.show'), admin_tool_path(tool), class:"list-group-item list-group-item-primary" %>

          </ul>
        </div>
      </div>

  <% end %>
<% end %>

</div>
<% end %>
