<%= form_for @school do |t|  %>

<% if @school.errors.any? %>
    <div id="error_explanation">
      <% @school.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
       <%= message %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
      </div>
      <% end %>
    </div>
  <% end %>


    <div class="form-group" >
      <%=t.label :Nome_scuola%>
      <%=t.text_field :name, class:"form-control"%>
    </div>

    <div class="form-group" >
      <%=t.label :URL_sito_della_scuola%>
      <%=t.text_field :url, class:"form-control"%>
    </div>

    <div class="form-group" >
      <%=t.label :email_per_questo_sito%>
      <%=t.text_field :mail, class:"form-control"%>
    </div>

    <div class="form-group" >
      <%=t.label :password_della_precedente_email%>
      <%=t.text_field :password, class:"form-control"%>
    </div>

    <div class="form-group" >
      <%=t.label :client%>
      <%=t.text_field :client, class:"form-control"%>
    </div>

    <div class="form-group" >
      <%=t.label :secret%>
      <%=t.text_field :secret, class:"form-control"%>
    </div>

<%= t.submit class:"btn btn-primary btn-block"%>

<% end %>
