<h1> <%= t('admin.shared.menu.categories') %> </h1>
<hr>

<!-- because a category can be created by selectize, i need to specify the destination of html form -->
<%= form_for @category, as: :category, url: admin_htmlcreate_route_path(@category) do |t|  %>
  <div class="form-group" >
    <%=t.label t('admin.categories.form.name')%>
    <%=t.text_field :name, class:"form-control"%>
  </div>
  <%= t.submit class:"btn btn-primary btn-block"%>
<% end %>
<hr>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-lg-3 col-sm-4 portfolio-item">
      <div class="card h-100">
        <div class= "card-header">
          <div class="row">
            <div class="col-sm-6">
              <%= fa_icon('tag') + " " + category.name %>
            </div>
            <div class="col-sm-3">
              <%= link_to fa_icon('pencil'), edit_admin_category_path(category), class:"btn btn-warning btn-sm" %>
            </div>
            <div class="col-sm-3">
              <%= link_to fa_icon('trash'), admin_category_path(category), method: :delete, data: {confirm: category.name + ", " + t('.confirm')}, class:"btn btn-sm btn-danger"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
