<%= form_for ([:admin, @category]), :url => {:controller => "categories", :action => "htmlcreate"} do |t|  %>

<% if @category.errors.any? %>
    <div id="error_explanation">
      <% @category.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
       <%= message %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
      </div>
      <% end %>
    </div>
  <% end %>


    <div class="form-group" >
      <%=t.label t('.name')%>
      <%=t.text_field :name, class:"form-control"%>
    </div>

<%= t.submit class:"btn btn-primary btn-block"%>

<% end %>
