<%= form_for ([:admin, @tool]) do |t|  %>

  <% if @tool.errors.any? %>
    <div id="error_explanation">
      <% @tool.errors.full_messages.each do |message| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="form-group" >
        <%= t.label t('.name') %>
        <%= t.text_field :name, class:"form-control" %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <%= t.label t('.description') %>
        <%= t.text_area :description, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6">
        <%= t.nested_fields_for :labs_tools do |d| %>
          <%= d.remove_nested_fields_link t('.remove_lab'), data: { confirm: t('admin.tools.index.confirm') }, class: "btn btn-danger" %>
          <br>
          <br>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <%= d.label t('.labchoose') %>
                <%= d.collection_select :lab_id, Lab.order(:name), :id, :name, {}, {:class => "form-control"} %>
              </div>
              <div class="col-md-6 col-md-6">
                <div class="field">
                  <%= d.label t('.quantity') %>
                  <%= d.text_field :quantity, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
          <hr>

        <% end %>
        <%= t.add_nested_fields_link :labs_tools, t('.add_lab'), class: "btn btn-success" %>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <%= t.label t('.identifier') %>
        <%= t.text_field :identifier, class:"form-control" %>
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="form-group">
        <%= t.nested_fields_for :photos do |d| %>
          <%= d.remove_nested_fields_link t('.photoremove'), data: { confirm: t('admin.tools.index.confirm') }, class: "btn btn-danger" %>
          <br>
          <%= d.file_field :picture %>
          <hr>
        <% end %>
        <%= t.add_nested_fields_link :photos, t('.photoadd'), class: "btn btn-success" %>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="form-group">
        <%= t.nested_fields_for :documentations do |d| %>
          <%= d.remove_nested_fields_link t('.docremove'), data: { confirm: t('admin.tools.index.confirm') }, class: "btn btn-danger" %>
          <br>
          <%= d.label t('.docname') %>
          <%= d.text_field :name, class:"form-control" %>
          <%= d.file_field :file%>
          <small class="form-text text-muted"> <%= t('.docwarn') %> </small>
          <hr>
        <% end %>
        <%= t.add_nested_fields_link :documentations, t('.docadd'), class: "btn btn-success" %>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <%= t.label t('.categorychoose') %>
      <%= t.select :category_ids, Category.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" } %>
    </div>
  </div>


  <hr>

  <br>

  <%= t.submit class:"btn btn-primary btn-block"%>

  <script>
    document.getElementById("tool_photo").onchange = function () {
        var reader = new FileReader();
        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("image").src = e.target.result;
        };
        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };
  </script>

<% end %>

<!-- Modal -->
<div class="modal fade category-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <%= t('admin.categories.index.new') %> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for ([:admin, Category.new]) do |t|  %>
          <div class="form-group" >
            <%= t.label t('.name') %>
            <%= t.text_field :name, class:"form-control" %>
          </div>
          <%= t.submit class:"btn btn-primary btn-block"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
