
<p class="text-right">
  <%= search_form_for @o, url: admin_tools_path, class:"form-inline my-2 my-lg-0" do |f| %>
  <%= f.search_field :slug_cont, class:"form-control mr-sm-2", placeholder: t('.place') %>
  <%= f.submit t('.search'), class:"btn btn-success my-2 my-sm-0"%>
  <%end%>
</p>

<div class="card-group">
 <% @tools.each do |tool| %>

<% if tool.name.present? %>
    <div class="card">
          <%=image_tag(tool.photo, :width => 286, :height => 180, :alt => tool.name, class:"card-img-top")%>
          <div class="card-body">
          <h5 class="card-title"><%= tool.name %></h5>
          <p class="card-text"> <%= tool.description %> </p>
          <p class="card text"> <%= link_to t('.language'), admin_choose_tool_route_path(tool), class:"btn btn-block btn-secondary"%> </p>
          <p class="card-text"><small class="text-muted">
            <%= t('.days')%> <span class="badge badge-secondary"> <%= tool.days %> </span> <br>
            <%= t('.quantity')%> <span class="badge badge-secondary"> <%= tool.quantity %> </span>
          </small></p>
            <% if tool.quantity != 0 %>
            <%= link_to t('.book'), '#', data: { confirm: tool.name + ".
" + t('.sure') }, class:"btn btn-primary btn-sm" %>
            <% else %>
              <%= link_to t('.book'), '#', class:"btn btn-outline-primary btn-sm disabled" %>
              <% end %>
          </div>
           </div>


<% end %>
<% end %>
</div>

<div class="paginate-container">
<%= paginate @tools %>
 </div>

 <%= link_to t('.new'), new_admin_tool_path, class:"btn btn-primary btn-block"%>
