<div class="row">
  <div class="col-md-6 col-sm-6">
<p>
  <%= search_form_for @o, url: admin_tools_path, class:"form-inline my-2 my-lg-0" do |f| %>
  <%= f.search_field :translations_name_cont, class:"form-control mr-sm-2", placeholder: t('.place') %>
  <%= f.submit t('.search'), class:"btn btn-success my-2 my-sm-0"%>
  <%end%>
</p>
  </div>
  <div class="col-md-6 col-sm-6">
    <p>
    <%= link_to t('.new'), new_admin_tool_path, class:"btn btn-primary btn-block"%>
  </p>
  </div>
</div>


 <% @tools.each do |tool| %>
  <% if tool.name.present? %>
    <div class="card">
      <%=image_tag(tool.photo.standard, width: "280px", height:"180")%>
      <hr>
      <div class="card-body">
        <h5 class="card-title"><%= tool.name %></h5>
        <p class="card-text"> <%= tool.description %> </p>
        <p class="card-text"><small class="text-muted">
          <%= t('.quantity')%> <span class="badge badge-secondary"> <%= tool.quantity %> </span>
        </small></p>
        <p class="card text"> <%= link_to t('.language'), admin_choose_tool_route_path(tool), class:"btn btn-block btn-secondary"%> </p>
        <p class="card text"> <%= link_to fa_icon('pencil') + " " + t('.edit'), edit_admin_tool_path(tool), class:"btn btn-block btn-warning"%> </p>
        <p class="card text"> <%= link_to fa_icon('trash'), admin_tool_path(tool), method: :delete, data: {confirm: t('.confirm')}, class:"btn btn-block btn-danger"%> </p>
        <p class="card text"> <%= link_to fa_icon('eye'), admin_tool_path(tool), class:"btn btn-block btn-primary"%> </p>
      </div>
    </div>
  <% end %>
 <% end %>
<div class="paginate-container">
<%= paginate @tools %>
 </div>
