<% @bookings.each do |booking| %>

  <div class="card">
    <div class="card-header">
      dal: <%= " " + booking.start_date.strftime("%d/%m/%y") + " " %>  al: <%= " " + booking.end_date.strftime("%d/%m/%y") + " "%> Quantità: <%= " " + booking.quantity.to_s%>
      <%= link_to fa_icon('trash'), admin_book_path(booking), method: :delete, data: {confirm: "Sei sicuro?"}, class:"btn btn-outline-danger"%>
    </div>
    <% if booking.confirmed == false %>
  <div class="card-body">
    <%= booking.prof.name + " " + booking.prof.surname %>
    <%= form_for ([:admin, booking]) do |t|  %>
    <%= hidden_field(:book, :confirmed, :value => true) %>
    <%= t.submit "Conferma Prenotazione", class: "btn btn-success" %>
    <% end %>
    </div>

  <% else %>
   <div class="card-body">
    <%= booking.prof.name + " " + booking.prof.surname %>
  </div>

  <% end %>

  </div>
<% end %>
