<h1 class="my-4"> <%= @request.name %>
  <small>
    <% if @request.prof.present? %>
      <p> <%= @request.prof.name + " " + @request.prof.surname %> </p>
    <% else %>
      <p> <%= @request.technical.name + " " + @request.technical.surname %> </p>
    <% end %>
  </small>
</h1>

      <!-- Portfolio Item Row -->
<div class="row">
  <div class="col-lg-8 col-md-7">
    <% if @request.photo.present? %>
      <%= image_tag(@request.photo, :alt => "toolphoto.jpeg", class:"img-fluid") %>
    <% else %>
      <% image_tag("standard_toolphoto.jpeg", :alt => "toolphoto.jpeg", class:"img-fluid") %>
    <% end %>
    <br>
    <br>
    <p> <%= @request.goal %> </p>
    <hr>

    <% if current_admin.role == 0 %>
    <div class="row">
      <div class= "col-md-7">
      <%= form_for ([:admin, @request]) do |t|  %>
        <%= hidden_field(:request, :approved, :value => true) %>
        <%= t.submit "Conferma Richiesta", data: {confirm: t('admin.tools.index.confirm')}, class: "btn btn-warning btn-block" %>
      <% end %>
    </div>
    <div clas="col-md-5">
      <%= link_to fa_icon('trash'), admin_request_path(request), data: { confirm: t('admin.tools.index.confirm') }, method: :delete, class:"btn btn-danger btn-block" %>
    </div>
    </div>
    <% elsif current_admin.role == 1 %>
    <div class="row">
      <div class= "col-md-7">
      <%= form_for ([:admin, @request]) do |t|  %>
        <%= hidden_field(:request, :money, :value => true) %>
        <%= t.submit "Conferma Richiesta", data: {confirm: t('admin.tools.index.confirm')}, class: "btn btn-warning btn-block" %>
      <% end %>
    </div>
    <div clas="col-md-5">
      <%= link_to fa_icon('trash'), admin_request_path(request), data: { confirm: t('admin.tools.index.confirm') }, method: :delete, class:"btn btn-danger btn-block" %>
    </div>
    </div>
    <% else %>
    <div class="row">
      <div class= "col-md-7">
      <%= form_for ([:admin, @request]) do |t|  %>
        <%= hidden_field(:request, :arrived, :value => true) %>
        <%= t.submit "Conferma Richiesta", data: {confirm: t('admin.tools.index.confirm')}, class: "btn btn-warning btn-block" %>
      <% end %>
    </div>
    <div clas="col-md-5">
      <%= link_to fa_icon('trash'), admin_request_path(request), data: { confirm: t('admin.tools.index.confirm') }, method: :delete, class:"btn btn-danger btn-block" %>
    </div>
    </div>
    <% end %>

  </div>







        <div class="col-lg-4 col-md-5">
          <h3 class="my-3"> <%= t('tools.show.description') %> </h3>
          <p> <%= @request.description %></p>

          <ul class="list-group">
            <% @request.documentations.each do |doc| %>
              <li class="list-group-item">
                <%= link_to fa_icon('cloud-download'), doc.file.url %>
                <%= " " + doc.name + " " %>
              </li>
            <% end %>
          </ul>



      </div>


      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4"> <%= t('tools.show.otherphotos') %> </h3>

      <div class="row">
        <% @request.photos.each do |photo| %>
          <div class="col-md-3 col-sm-6 mb-4">
            <%= image_tag(photo.picture.standard, :alt => "booh", class:"img-fluid") %>
          </div>
        <% end %>
      </div>
